extends layout

block content
    .inner
        form.form(method="POST")
            // forms without an action post to the current url
            h2 hi #{user.name} <br/> #{title}
            label(for="password") New Password
            input(type="password" name="password") 
            label(for="confirm-password") Confirm Your New Password
            input(type="password" name="confirm-password")
            input.button(type="submit" value="Reset Password")